<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cstvotingsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSTVotingSystem"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Vote"
            android:exported="false" />
        <activity
            android:name=".BoysCCVote"
            android:exported="false" />
        <activity
            android:name=".CandidatePage"
            android:exported="false" />
        <activity
            android:name=".MalePage"
            android:exported="false" />
        <activity
            android:name=".GamesCouncillorGirlsResult"
            android:exported="false" />
        <activity
            android:name=".GamesCouncillorResult"
            android:exported="false" />
        <activity
            android:name=".CultureCouncillorGirlsResult"
            android:exported="false" />
        <activity
            android:name=".CultureCouncillorBoysResult"
            android:exported="false" />
        <activity
            android:name=".CACGirlsResult"
            android:exported="false" />
        <activity
            android:name=".CACBoysResult"
            android:exported="false" />
        <activity
            android:name=".BlockCouncillorGirlsResult"
            android:exported="false" />
        <activity
            android:name=".BlockCouncillor_boysResult"
            android:exported="false" />
        <activity
            android:name=".DDC_girlsResult"
            android:exported="false" />
        <activity
            android:name=".DDC_boysResult"
            android:exported="false" />
        <activity
            android:name=".ViewResult"
            android:exported="false" />
        <activity
            android:name=".CACGirlsVote"
            android:exported="false" />
        <activity
            android:name=".GamesCouncillorGirls"
            android:exported="false" />
        <activity
            android:name=".CultureCouncillorGirls"
            android:exported="false" />
        <activity
            android:name=".BlockCouncillorGirlsVote"
            android:exported="false" />
        <activity
            android:name=".DCCGirlsVote"
            android:exported="false" />
        <activity
            android:name=".CACBoysVote"
            android:exported="false" />
        <activity
            android:name=".CultureCouncillorBoys"
            android:exported="false" />
        <activity
            android:name=".GamesCouncillorVote"
            android:exported="false" />
        <activity
            android:name=".BlockCouncillor_boys"
            android:exported="false" />
        <activity
            android:name=".DCC_Boys"
            android:exported="false" />
        <activity
            android:name=".CandidateList"
            android:exported="false" />
        <activity
            android:name=".ManifestoRecycleview"
            android:exported="false" />
        <activity
            android:name=".UpdateManifestos"
            android:exported="false" />
        <activity
            android:name=".UpdateCandidateView"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CCVote"
            android:exported="false" />
        <activity
            android:name=".ui.login.CCVote"
            android:exported="false"
            android:label="@string/title_activity_ccvote" />
        <activity
            android:name=".Vote_List"
            android:exported="false" />
        <activity
            android:name=".Register_Candidate"
            android:exported="false" />
        <activity
            android:name=".CandidateBigViewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCandidates"
            android:exported="false" />
        <activity
            android:name=".BoysVote"
            android:exported="false" />
        <activity
            android:name=".GirlsVote"
            android:exported="false" />
        <activity
            android:name=".ManifestoList"
            android:exported="false" />
        <activity
            android:name=".UserPage"
            android:exported="false" />
        <activity
            android:name=".adminpage"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:label=" " />
        <activity android:name=".AboutPage" />
        <activity
            android:name=".SplashLayoutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>